@model List<Product>

@{
    ViewData["Title"] = "Product";
}

<table class="table table-bordered table-hover">
    <thead>
        <th>#</th>
        <th>Name</th>
        <th>Weight</th>
        <th>Unit Price</th>
        <th>Units In Stock</th>
        <th class="text-center" colspan="2">Actions</th>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.ProductName</td>
                <td>@item.Weight</td>
                <td>@item.UnitPrice</td>
                <td>@item.UnitsInStock</td>
                <td class="text-center">
                    <a asp-action="Update" asp-route-id="@item.ProductID" class="btn btn-outline-dark">Update</a>
                </td>
                <td class="text-center">
                    <a asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-block btn-outline-primary">Add New</a>
